.toolbox{
    display: flex;
    flex-flow:row;
    button{
        border: none;
    }
}
.searchBox{
    .btnBox{
        display:flex;
        flex-flow:row;
        justify-content:flex-end;
        button{
            margin-left:5px;
        }
    }
}

