@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.iconGroup {
  i {
    transition: color 0.32s;
    color: @text-color-secondary;
    cursor: pointer;
    margin-left: 16px;
    &:hover {
      color: @text-color;
    }
  }
}

.rankingList {
  margin:0;
  padding: 0;
  list-style: none;
  li {
    .clearfix();
    margin-top: 16px;
    span {
      color: @text-color;
      font-size: 14px;
      line-height: 22px;
    }
    span:first-child {
      background-color: @background-color-base;
      border-radius: 20px;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      margin-right: 24px;
      height: 20px;
      line-height: 20px;
      width: 20px;
      text-align: center;
    }
    span.active {
      //background-color: @primary-color;
      background-color: #314659;
      color: #fff;
    }
    span:last-child {
      float: right;
    }
  }
}

.salesExtra {
  display: inline-block;
  margin-right: 24px;
  a {
    color: @text-color;
    margin-left: 24px;
    &:hover {
      color: @primary-color;
    }
    &.currentDate {
      color: @primary-color;
    }
  }
}

.salesCard {
  .salesBar {
    width: 100%;
    overflow-x:visible;
    padding: 0 0 32px 32px;
  }
  .salesRank {
    padding: 0 32px 32px 72px;
  }
  :global {
    .ant-tabs-bar {
      padding-left: 16px;
      .ant-tabs-nav .ant-tabs-tab {
        padding-top: 16px;
        padding-bottom: 14px;
        line-height: 24px;
      }
    }
    .ant-tabs-extra-content {
      padding-right: 24px;
      line-height: 55px;
    }
    .ant-card-head {
      position: relative;
    }
  }
}

.salesCardExtra {
  height: 68px;
}

.salesTypeRadio {
  position: absolute;
  left: 24px;
  bottom: 15px;
}

.offlineCard {
  :global {
    .ant-tabs-ink-bar {
      bottom: auto;
    }
    .ant-tabs-bar {
      border-bottom: none;
    }
    .ant-tabs-nav-container-scrolling {
      padding-left: 40px;
      padding-right: 40px;
    }
    .ant-tabs-tab-prev-icon:before {
      position: relative;
      left: 6px;
    }
    .ant-tabs-tab-next-icon:before {
      position: relative;
      right: 6px;
    }
  }

  :global(.ant-tabs-tab-active) h4 {
    color: @primary-color;
  }
}

.trendText {
  margin-left: 8px;
  color: @heading-color;
}

@media screen and (max-width: @screen-lg) {
  .salesExtra {
    display: none;
  }

  .rankingList {
    li {
      span:first-child {
        margin-right: 8px;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .rankingTitle {
    margin-top: 16px;
  }

  .salesCard .salesBar {
    padding: 16px;
  }
}

@media screen and (max-width: @screen-sm) {
  .salesExtraWrap {
    display: none;
  }

  .salesCard {
    :global {
      .ant-tabs-content {
        padding-top: 30px;
      }
    }
  }
}
.newsListBox{
  margin-top:30px;
  .newsBox{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom:9px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    .newsTitle{
      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-box-orient: vertical;
      width:80%;
      cursor: pointer;
    }
    .newsTitle:hover{
      text-decoration:underline red;
      color: red;
    }
  }
}
.newsalert{
    color:#595959;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.houseName{
  overflow : hidden;
  text-overflow: ellipsis;
}

