@import '~antd/lib/style/themes/default.less';

.main {
  width: 368px;
  margin: 0 auto;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }

  .icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    text-align: left;
    margin-top: 24px;
    line-height: 22px;
    .register {
      float: right;
      padding-left:10px;
      cursor: pointer;
    }
  }
}

.prefixIcon {
  font-size: @font-size-base;
  color: @disabled-color;
}

.inputBox{
    margin-top:100px;
}
.submit {
  width: 100%;
  margin-top: 24px;
}
