.infoBox{
    display: flex;
    flex-flow: wrap;
    .labelBox_intput{
        width:33%;
        padding:10px 0 10px 0;
        .label{
            line-height: 20px;
            padding:0  9px 16px 0;
            color: rgba(0,0,0,.85);
            white-space: nowrap;
        }
        .value{
            line-height: 22px;
            width:90%;
            padding-bottom: 16px;
            color: rgba(0,0,0,.65);
            overflow : hidden;
            text-overflow: ellipsis;
        }
    }
    .labelBox_textarea{
        padding:10px 0 10px 0;
        width: 100%;
        .label{
            line-height: 20px;
            padding:0  9px 0px 0;
            color: rgba(0,0,0,.85);
            white-space: nowrap;
            display: inline;
        }
        .value{
            line-height: 22px;
        }
    }
}
.btnBox{
    margin:50px;
    display: flex;
    flex-flow:row;
    justify-content: center;
    .saveAndreturn{
        display: flex;
        width:30%;
        flex-flow:row;
        justify-content: space-between;
        button{
            height:35px;
            padding:0 15px 0 15px;
            line-height:35px;
            font-size:15px;
        }
    }
}
