.title {
    text-align: center;
    font-size: 16px;
    font-weight: 600; 
    width: 95%;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CardHeader {
    height: 50px;
}

.Cards {
    text-align: 'center';
}

.Cards :hover {
    cursor: pointer;
    transform: scale(1.03, 1.03);
}

.CardsText {
    text-align: center;
    width: 95%;
    height: 20px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.select {
    width: 100%;
}

.houseDetailSpan {
    margin-left: 60px;
}

.empty {
    font-size: 30px;
    color:rgba(0, 0, 0, 0.45);
    text-align: center;
}

.infoBox{
    display: flex;
    flex-flow: wrap;
    .labelBox_intput{
        width:33%;
        padding:10px 0 10px 0;
        .label{
            line-height: 20px;
            padding:0  9px 16px 0;
            color: rgba(0,0,0,.85);
            white-space: nowrap;
        }
        .value{
            line-height: 22px;
            width:90%;
            padding-bottom: 16px;
            color: rgba(0,0,0,.65);
            overflow : hidden;
            text-overflow: ellipsis;
        }
    }
    .labelBox_textarea{
        padding:10px 0 10px 0;
        width: 100%;
        .label{
            line-height: 20px;
            padding:0  9px 0px 0;
            color: rgba(0,0,0,.85);
            white-space: nowrap;
            display: inline;
        }
        .value{
            line-height: 22px;
        }
    }
}
.btnBox{
    margin:50px;
    display: flex;
    flex-flow:row;
    justify-content: center;
    .saveAndreturn{
        display: flex;
        width:30%;
        flex-flow:row;
        justify-content: space-between;
        button{
            height:40px;
            padding:0 20px 0 20px;
            line-height:40px;
            font-size:15px;
        }
    }
}
