<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>特殊人群大数据服务云平台</title>
  <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script type="text/javascript">
        // var browsers=
        //     {firefox:['57.0'],
        //     chrome:['63.0.3239.84']}
        // var regulars =/(msie|firefox|chrome|opera|version).*?([\d.]+)/;
        // var minResolvingsWidth = 1366;
        // var minResolvingsHeight = 768;
        // function getBrowserInfo(){
        //     var userAgent = navigator.userAgent.toLowerCase();
        //     var match = userAgent.match(regulars);
        //     match[1] = match[1].replace(/version/, "'safari");
        //     let versions = browsers[match[1]];
        //     return  res = versions.includes(match[2]);
        // }
        // var heigth = window.screen.height
        // var width = window.screen.width;
        // if(!getBrowserInfo()||width<minResolvingsWidth||heigth<minResolvingsHeight)
        // {
        // //  window.location.href='message.html';
        // }
    </script>
</head>

<body>
  <div id="box">
  </div>
  <div id="root"></div>
  <script>

    </script>
</body>

</html>
